<h1 class="header_title">Customer Contracts</h1>
<div class="header_links">
	<br />
	Please select a link below: <br />

	<%= link_to "Search Customers", "/search" %> | 
	<%= link_to 'Add New Customer', new_customer_path %> | 
	<%= link_to "Manage Job Types", "/job_types" %>
</div>